.alasan {
    padding: 32px 0 80px;
    @media screen and (max-width: 768px) {
        padding: 32px 0 150px;
    }
    .image {
        width: 100%;
        height: 360px;
        @media screen and (max-width: 768px) {
            height: fit-content;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .wrap {
        display: block;
        .datav {
            display: block;
            margin-bottom: 8px;
            .fas,
            .fab {
                display: inline-block;
                font-size: 2.5rem;
                width: 80px;
                border-radius: 50%;
                text-align: center;
                padding: 20px;
                vertical-align: middle;
                margin-right: -16px;
                height: 80px;
                background: white;
                @media screen and (max-width: 768px) {
                    width: 60px;
                    height: 60px;
                    padding: 12px;
                    font-size: 2rem;
                }
            }
            .tex {
                display: inline-block;
                width: fit-content;
                background: white;
                font-family: "Poppins";
                vertical-align: middle;
                padding: 8px 16px;
                border-radius: 0 32px 32px 0;
                font-weight: 600;
                @media screen and (max-width: 768px) {
                    // width: 80%;
                }
            }
            .descx {
                background: rgba(255, 255, 255, 0.5);
                padding: 8px;
                border-radius: 6px;
                margin-left: 70px;
                font-family: "Poppins";
                margin-top: -20px;
                font-size: 0.9rem;
                @media screen and (max-width: 768px) {
                    margin-top: -10px;
                    margin-left: 52px;
                }
            }
        }
    }
}
