.desc {
    background: #8adbda;
    .image {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .w-help {
        width: 75%;
        margin: 0 auto;
        // height: 75vh;
    }
    .imagex {
        width: 100%;
        height: 420px;
        // transform: ;
        // margin: 0 auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
