.creditx {
    background: #3aaeac;
    min-height: auto;
    .img {
        width: 360px;
        height: auto;
        position: absolute;
        top: -110px;
        right: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .alls {
        margin-bottom: 16px;
        text-align: center;
        .jobs {
            font-weight: bold;
        }
    }

    .footer-wrap {
        width: 60%;
        margin: 0 auto;
        @media screen and (max-width: 768px) {
            width: 90%;
        }
    }

    .bus-silu {
        position: absolute;
        top: -32px;
        right: -270px;
        // opacity: 0.9;
        // animation: neonz 1s linear infinite;
        animation-name: banner2;
        animation-duration: 30s;
        // background: red;
        width: 100px;
        height: auto;
        @media screen and (max-width: 768px) {
            position: absolute;
            top: -20px;
            // right: 0;
            // opacity: 0.8;
            animation-duration: 20s;
            width: 80px;
            height: auto;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
