.target {
    // &::before {
    //     content: "";
    //     position: absolute;
    //     inset: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: url(../img/kotak.png);
    //     background-repeat: repeat;
    // }
    // &::after {
    //     content: "";
    //     position: absolute;
    //     inset: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: linear-gradient(to top, $colorred, rgba($colorred, 0.8), $colorred);
    // }

    .bg-tipis {
        position: absolute;
        bottom: 11%;
        left: 0;
        right: 0;
        opacity: 0.5;
        width: 100%;
        height: auto;
        @media screen and (max-width: 768px) {
            bottom: 20%;
            opacity: 0.8;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30vh;
            right: 0;
            background: linear-gradient(to top, $colorred, transparent);
            @media screen and (max-width: 768px) {
                height: 8vh;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .image {
        min-height: auto;
        width: 100%;
        height: auto;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.kesan {
    @import "clock";
    min-height: auto;
    .wrap {
        position: relative;
        display: block;
        padding: 16px;
        border-top: 5px solid #777;
        background: rgba($color: white, $alpha: 0.5);
        .sulap {
            position: absolute;
            right: 8px;
            top: 0px;
            font-size: 2rem;
            cursor: pointer;
            color: #124646;
            transition: 0.3s;
            &:hover {
                color: #2b8383;
            }
        }
        .datax {
            display: inline-block;
            width: 49%;
            vertical-align: top;
            .small {
                @media screen and (max-width: 768px) {
                    font-size: 1.1rem !important;
                }
            }
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            ul {
                li {
                    // font-weight: 500;
                    @media screen and (max-width: 768px) {
                        font-size: 1.3rem;
                    }
                }
                @media screen and (max-width: 768px) {
                    padding: 0 32px;
                }
            }
        }
    }
    .wrap-relative {
        position: relative;
        width: 100%;
        height: 360px;
        @media screen and (max-width: 768px) {
            // height: fit-content;
            height: 200px;
        }
        .org {
            position: absolute;
            width: 200px;
            height: 200px;
            top: 40%;
            @media screen and (max-width: 768px) {
                width: 100px;
                height: 100px;
                top: 30%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            &-one {
                left: 46%;
                // transform: translate(-50%, -50%);
            }
            &-two {
                left: 54%;

                // transform: translate(-50%, -50%);
            }
            &-three {
                left: 62%;

                // transform: translate(-50%, -50%);
            }
            &-four {
                left: 70%;

                // transform: translate(-50%, -50%);
            }
            &-five {
                left: 78%;

                // transform: translate(-50%, -50%);
            }
        }
    }
    .image {
        width: 100%;
        margin: 32px auto 0;
        height: fit-content;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.fa-ul {
    @media screen and (max-width: 768px) {
        margin-left: 0 !important;
    }
    .fa-li {
        i {
            color: #124646;
        }
    }
}
