.target {
    .image {
        min-height: auto;
        width: 100%;
        height: auto;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.kesan {
    min-height: auto;
    .wrap {
        position: relative;
        display: block;
        padding: 16px;
        border-top: 5px solid #777;
        background: rgba($color: white, $alpha: 0.5);
        .datax {
            display: inline-block;
            width: 49%;
            vertical-align: top;
            ul {
                @media screen and (max-width: 768px) {
                    padding: 0 16px;
                }
            }
        }
    }
    .image {
        width: 100%;
        margin: 32px auto 0;
        height: fit-content;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.fa-ul {
    @media screen and (max-width: 768px) {
        margin-left: 0 !important;
    }
    .fa-li {
        i {
            color: #124646;
        }
    }
}
