.pembukaan {
    min-height: auto;
    .introx {
        // background: rgba($color: white, $alpha: 0.8);
        // padding: 8px;
        p {
            font-size: 1.5rem;
            @media screen and (max-width: 768px) {
                font-size: 1.2rem;
            }
        }
        text-align: center;
    }
}
